input[type='text'], input[type='password'] {
  line-height: 40px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #D7D7D7;
  background: transparent;
  outline: none;
  font-size: 18px;
  -webkit-transition: border-bottom ease-out 0.5s;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%; }
  input[type='text']:focus, input[type='password']:focus {
    border-bottom: 1px solid #0085F3;
    outline: none; }

.form {
  background: white;
  padding: 10px; }

.field {
  display: block;
  margin: 5px 0 5px 0;
  /*display:table-row;*/
  width: 100%; }
  .field .text-icon {
    line-height: 40px;
    height: 40px;
    padding: 0 10px 0 10px;
    font-size: 30px;
    /*margin-right: 20px;*/
    color: #B7B7B7;
    /*display:table-cell;*/
    /*padding-top:4px;*/
    float: left; }
  .field .text-label {
    line-height: 17px;
    font-size: 15px;
    color: #999999; }
  .field .text-input {
    width: 10%;
    height: 40px;
    display: table-cell; }

.button {
  line-height: 45px;
  display: block;
  margin: 5px;
  text-align: center;
  font-size: 17px;
  -webkit-box-shadow: 1px 2px 8px #BCBFBF;
  -webkit-border-radius: 2px;
  background: #2196F3;
  color: white; }
