.workgenre {
  background: url(../imgs/gzchoice.png) no-repeat;
  background-size: cover;
}
.workgenre header {
  line-height: 50px;
  background: #fa5959;
  font-size: 20px;
  height: 45px;
  text-align: center;
}
.workgenre .areaFun {
  height: 80px;
  position: relative;
  color: white;
}
.workgenre .areaFun > div {
  position: absolute;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.workgenre .areaFun .power {
  text-align: right;
  width: 50%;
}
.workgenre .areaFun .power .iconpower {
  position: absolute;
  left: 5px;
  top: 10px;
  height: 40px;
  transform: scale(0.6);
  width: 35px;
  background-color: red;
  background: rgba(128, 128, 128, 0) url(../imgs/icons.png) no-repeat 0px -40px;
}
.workgenre .areaFun .power .textpower {
  width: 70%;
  position: absolute;
  font-size: 14px;
  text-align: left;
  left: 22%;
  top: 24px;
  color: rgba(255, 255, 255, 0.9);
}
.workgenre .areaFun .power .textpower .vpower {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.workgenre .areaFun .fun {
  transform: scale(0.7);
  width: 35px;
  height: 65px;
}
.workgenre .areaFun .fun .iconfun {
  height: 40px;
  width: 35px;
  margin: 5px 0 0;
  background-image: url(../imgs/icons.png);
  background-size: cover;
}
.workgenre .areaFun .fun .textfun {
  text-align: center;
}
.workgenre .areaFun .praze.fun {
  right: 40px;
}
.workgenre .areaFun .praze.fun .iconpraze.iconfun {
  background-position: 0 80px;
}
.workgenre .areaFun .setup.fun {
  right: 0;
}
.workgenre .areaFun .setup.fun .iconsetup.iconfun {
  background-position: 0px 40px;
}
.workgenre .workgenrelist {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  height: 450px;
  margin: 20px auto 0;
  overflow: auto;
}
.workgenre .workgenrelist .item-list {
  display: inline-block;
  width: 98px;
  margin: 0 0 10px 0;
}
.workgenre .workgenrelist .item-list .icons {
  margin: 5px 10px;
  width: 80px;
  height: 80px;
  background-image: url(../imgs/gzlist.png);
  background-size: cover;
}
.workgenre .workgenrelist .item-list .icon.active {
  background-color: #33475c;
}
.workgenre .workgenrelist .item-list .icontext {
  text-align: center;
  color: rgba(255, 255, 255, 0.61);
  line-height: 30px;
}
/*draw start*/
.drawbg {
  background-image: url(../imgs/draw_bg.png);
  background-size: cover;
  position: relative;
  height: 100%;
}
.drawbg header {
  line-height: 50px;
  background: #fa5959;
  font-size: 20px;
  height: 45px;
  text-align: center;
}
.drawbg .box {
  background-image: url(../imgs/draw_box.png);
  height: 280px;
  width: 280px;
  background-size: cover;
  position: relative;
  left: 50%;
  top: 50%;
  margin: -230px -140px;
}
.drawbg .box .pointer {
  transform-origin: 62px 59px;
  background-image: url(../imgs/prize_03.png);
  background-size: cover;
  height: 120px;
  width: 120px;
  position: absolute;
  left: 50%;
  transform: rotate(-33deg);
  top: 50%;
  margin: -60px;
}
.drawbg .box .pointertext {
  background-image: url(../imgs/pointertext.png);
  background-size: cover;
  height: 120px;
  width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px;
}
.drawbg .times {
  position: relative;
  top: 95%;
  width: 60%;
  color: white;
  line-height: 25px;
  margin: auto;
  text-align: center;
  background-color: #e94a49;
  border-radius: 10px;
}
.drawbg .times i {
  width: 30px;
  text-align: center;
  color: yellow;
  font-style: normal;
  display: inline-block;
}
.drawbg .rollingmsg {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 100px;
  width: 100%;
  color: white;
}
.drawbg .rollingmsg ul {
  transition: top 5ms;
  list-style: none;
  padding: 0;
  position: relative;
  top: 0;
  margin: 0;
}
.drawbg .rollingmsg ul li {
  text-indent: 20px;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.drawbg .pupwin {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
.drawbg .pupwin .boxsuccess,
.drawbg .pupwin .boxfailure {
  height: 44%;
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 100px;
  transform: scale(0.95);
  background-size: cover;
}
.drawbg .pupwin .boxsuccess .prasetext,
.drawbg .pupwin .boxfailure .prasetext {
  position: absolute;
  top: 50%;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  text-align: center;
  color: white;
}
.drawbg .pupwin .replay,
.drawbg .pupwin .cancle {
  line-height: 30px;
  width: 100px;
  margin: 10px auto;
  position: relative;
  background-color: #27539b;
  top: 129px;
  text-align: center;
  border-radius: 10px;
  color: white;
}
.drawbg .pupwin .boxsuccess {
  background-image: url(../imgs/drawpopup_03.png);
}
.drawbg .pupwin .boxsuccess .prasetext {
  font-size: 16px;
}
.drawbg .pupwin .boxsuccess .prasetext i {
  width: 25px;
  font-size: 25px;
  color: red;
  display: inline-block;
  font-style: normal;
}
.drawbg .pupwin .boxfailure {
  display: none;
  background-image: url(../imgs/drawpopupno_03.png);
}
.drawbg .pupwin .boxfailure .prasetext {
  font-size: 25px;
}
